<?xml version="1.0" ?>
<manifest android:versionCode="1" android:versionName="1.0"
	package="org.cert.echoer" xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16">
	</uses-sdk>
	<application android:allowBackup="true" android:icon="@7F020000"
		android:label="@7F050000" android:theme="@7F060001">
		<activity android:label="@7F050000" android:name="org.cert.echoer.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.SEND">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
				<data android:mimeType="text/plain">
				</data>
			</intent-filter>
		</activity>
		<activity-alias android:label="MainActivity_VIEW"
			android:name="MainActivity_Alias" android:targetActivity="org.cert.echoer.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
				<data android:scheme="http">
				</data>
			</intent-filter>
		</activity-alias>
	</application>
</manifest>